.userList {
  padding: 10px 50px;
  width: 100vw;
  overflow-x: hidden;

  .userListConatainer {
    background-color: var(--very-transparent-bg);
    border: 1px solid var(--very-transparent-bg);
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .userRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 10px 0;
      border-bottom: 1px solid var(--very-transparent-bg);

      .nameBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .name {
          font-size: 1rem;
          color: #fff;
          font-weight: 600;
        }

        .username {
          font-size: 0.8rem;
          color: var(--off-white);
          font-weight: 400;
        }
      }

      .roles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .roleTagContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;

          .roleTag {
            font-size: 0.8rem;
            color: var(--off-white);
            font-weight: 400;
            background-color: var(--primary-color-light);
            color: var(--primary-color);
            padding: 1px 7px;
            border-radius: 16px;
          }
        }

        .activity {
          font-size: 0.8rem;
          color: var(--off-white);
          font-weight: 400;
          padding: 1px 7px;
          border-radius: 16px;
        }
        .editIcon {
          color: var(--off-white);
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }
  }

  /* Tablet devices */
  @media screen and (max-width: 992px) {
    padding: 10px 30px;

    .userListConatainer {
      padding: 10px 15px;

      .userRow {
        .nameBlock {
          gap: 8px;

          .name {
            font-size: 0.9rem;
          }

          .username {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 10px 20px;
    justify-content: flex-start;
    
    .userListConatainer {
      .userRow {
        gap: 30px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none; 
        white-space: nowrap;
        
        &::-webkit-scrollbar {
          display: none; 
        }
        
        .roles {
          min-width: max-content;
        }
      }
    }
  }
}
